

* {
  font-size: 10px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#app {
  background: linear-gradient(120deg, rgb(50, 50, 50), rgb(20, 20, 20));
  font-family: Arial, sans-serif;
  width: 100vw;
  min-width: 650px;
  height: 100vh;
  min-height: 650px;
  position: relative;
}

.window {
  background: linear-gradient(120deg, rgb(100, 100, 100), rgb(50, 50, 50));
  border-radius: 10px;
  border: 2px solid rgb(150, 150, 150);
  border-bottom: 2px solid rgb(50, 50, 50);
  border-right: 2px solid rgb(50, 50, 50);
  margin: 5px;
  padding: 5px;
}

.window h2 {
  color: rgb(20, 20, 20);
  font-size: 2rem;
  margin-bottom: 10px;
  height: 30px;
}

.container {
  background: linear-gradient(120deg, rgb(50, 50, 50), rgb(20, 20, 20));
  border: 2px solid rgb(150, 150, 150);
  border-top: 2px solid rgb(50, 50, 50);
  border-left: 2px solid rgb(50, 50, 50);
  border-radius: 5px;
  padding: 5px;
}

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  appearance: none; /* Standard property for compatibility */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}