

* {
  font-size: 10px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(120deg, rgb(50, 50, 50), rgb(20, 20, 20));
  font-family: Arial, sans-serif;
}

.window {
  background: linear-gradient(120deg, rgb(100, 100, 100), rgb(50, 50, 50));
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
}

.window h2 {
  color: rgb(20, 20, 20);
  font-size: 2rem;
  margin-bottom: 10px;
  height: 30px;
}

.window .toolbar {
  display: flex;
  justify-content: right;
  height: 20px;
  margin-bottom: 5px;
}